*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}
nav{
    background:white;
    position: fixed;
    width:100%;
    z-index: 999;
    height:65px;
    line-height: 65px;


}
nav .wrapper{
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content: space-between;




}
.wrapper .logo a{
    color:black;
    text-decoration: none;
    font-size:26px;
    font-weight: 600;
    top:0;

}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color:black;
    text-decoration: none;
    font-size:18px;
    font-weight: 500;
    padding:9px 15px;
    border-radius:5px;
    transition: all 0.3s ease;

}
.nav-links li a:hover{
    background:grey;

}
.wrapper .nav-links{
    display:inline-flex;

}
.nav-links .drop-menu{
    background: #242526;
    width:180px;
    top:85px;
    line-height:45px;
    position:absolute;
    opacity:0;
    visibility:hidden;
   
   
    
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    top:65px;
    opacity: 1;
    visibility:visible;
    transition:all 0.3s ease;


}




.drop-menu li a{

    width:100%;
    display:block;
    padding:0 0 0 15px;
    font-weight:400;
    border-radius: 0px;


}
.mega-box{
    position: absolute;
    top: 60px;
    width: 100%;
    left:0;
    opacity:0;
    visibility:hidden;
   

    

}
.mega-box .content{
    background: rgb(87, 81, 81);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px; 
}
.content.row img{
    width:100%;
    height:100%;
    object-fit:cover;

}
.content .row header{
     color:#f2f2f2;
     font-size:20px;
     font-weight: 400;


}
.content .row .mega-links{
    margin-left:-40px;
    border-left:1px solid rgba(255,255,255,0.09)



}
.row .mega-links li{
    padding: 0 20px;
}
.row .mega-links li a{
    padding:0 20px;
    color:#d9d9d9;
    font-size:17px;
    display: block;

}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left:0px;

}

.row .mega-links li a:hover{
    color:#f2f2f2;

}
main{
    background:rgb(246, 243, 235);
    position: relative;
    width:100%;

    height:80%;
    line-height: 65px;


}
.breadcrumb ul li a{
    
    text-decoration: none;
    padding: 9px 12px;
}


.breadcrumb{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}
.col{
    display:flex;
    flex-direction: column;

}


.filters{
    width:80%;
    height:fit-content;
    background-color: white;
    justify-content: center;
    margin-left: 10%;
    padding-inline: 15px;
    justify-content: space-between;



}
#filter {
    
    border:2px solid grey;
    border-radius: 20px;
    padding-top: 20px;
    
    height:20%; 
    padding:9px 15px;
   
    width:100px;

}
#button{
    width:10%;
    height:30%;
    border-radius: 50%;
}

.button1 {
 
    background-color:white;
}
.button2 {
    
    background-color:rgb(36, 205, 191);
}
.button3 {
 
    background-color:black;
}

.button4 {
  
    background-color:rgb(17, 155, 17);
}


.button5 {
  
    background-color:blue;
}

.button6 {
    
    background-color:orange;
}

.button7 {
   
    background-color:red;
}
.button8 {
  
    background-color:rgb(238, 229, 172);
}
.filterdef{
    display:flex;

    width: 30%;

}
.name{
    width:30%;
}
.row1{
    display:flex;
}
#colors{
    width:70%;
}


.card{
    position: absolute;
  
  }
  .image{
    transition: .5s ease;
    backface-visibility: hidden;
  
  
  }
  
  
  
  .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  
  
  .img:hover .image{
    opacity:0.2;
    
  
  }
  .img:hover .overlay{
    opacity:1;
   
  
  }
  .card:hover{
    opacity: 1;
    background:linear-gradient(rgb(14, 185, 45),rgb(106, 233, 64));;
  }
  .overlay button{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
   margin-top:50%;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    
   }
  .btn-group{
    border-radius: 20%;
  }
  .btn-circle i {
    position: relative;
    top: -1px; }
  
  .heart {
    color: red; }
  
  .add {
    color: #18f118; }
  
  
  
  
  
  
  
  
  /*Product tile*/
  .items {
    color:rgb(131, 126, 126);
    text-align: center;
    padding-top: 0;
    font-size: 20px;
    
    
    
  
  }
  #text{
    margin-top: 0;
  }
  
  
  
  
  .gallery{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    height: 80%;
    background-color:rgb(246, 243, 235); 
  }
  .card-title{
    font-size: small;
  }
  #load{
    color:white;
    border-radius: 10px;
    width:200px;
    display: flex;
    justify-content: center;
  
  
   
  
  }
  
  /* Icons style */
  #incrementHeart,#incrementText{
    border:2px solid greenyellow;
    border-radius: 50%;
    color:#ddd;
    position:relative;
  
  }

  .load-more {
    width: 270px;
    height: 45px;
    border: 2px solid #e8e2d6;
    background-color: #84bc22;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 22px; }
  
  .load-more:hover {
    background-color: #ace549; }
  
  .load-text {
    margin-left: 25px; }



/* Featured Products part style */
.row3{
    display: flex;
	background:#242b2b;
	font-family: "Open Sans", sans-serif;
}
#string::before {
	content: " ";
	width: 300px; 
	position: absolute;
	margin: 0 auto;
	height: 1px;
	border-radius: 1px;
	background: white;
	left: 0;
	right: 35%;
	bottom: -20px;
}

#string{
    
	color: white;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
#string::after {
	content: " ";
	width: 300px; 
	position: absolute;
	margin: 0 auto;
	height: 1px;
	border-radius: 1px;
	background: white;
	left: 35%;
	right: 0;
	bottom: -20px;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}



.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: rgb(36, 37, 37);	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: rgb(55, 53, 53);
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.container-xl{
    background:#242b2b;
    width:100%;
}




  

footer{
    display:-webkit-flex;
    display: -moz-flex;
    display:-ms-flex;
    display: -o-flex;
    display:flex;
    flex-flow: row wrap;
    flex-direction: column;
    
    padding:50px;
    color:black;
    background-color: #fcfcfc;
  }
  .footer > *{
    flex:1 100%;
  }
  .footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
  
  }
  .footer-left a{
    color:black;
  
  }
  
  h2{
    color: black;
    font-weight: 300;
    font-size: 10px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
  }
  .footer li{
    line-height:2em ;
  
  }
  .footer a{
    text-decoration: none;
  
  }
  .footer-right{
    display:-webkit-flex;
    display: -moz-flex;
    display:-ms-flex;
    display: -o-flex;
    display:flex;
    flex-flow: row wrap;
  }
  .footer-right > *{
    flex:1 50%;
    margin-right: 1.25em;
    
    
  }
  .box a {
    color:#999;
  
  }
  
  .footer-left p{
    padding-right:20%;
    color:#999;
  
  }
  .socials1 a {
    background: #f9f5f5;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 6px;
  }
  .socials1 a i{
  
    color:rgb(213, 210, 210);
    padding:8px 10px;
    font-size:15px;
    
  
  }
  a{
    color: black;
  }
  @media screen and (min-width:600px){
    .footer-right > *{
        flex:1;
    }
    .footer-left{
        flex:1 0px;
    }
    .footer-right{
        flex:3 0px;
  
    }
  }
  @media (max-width:600px){
    .footer{
        padding:15px;
  
    }
    .main{
        font-size: 55px;
    }
  
  }
  
 