*{
    margin:0;
    padding:0;
    box-sizing:border-box;


}
body{
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}
h1{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:15px;
    text-align: center;
}
.overlay{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;


}
.wrapper{

    position: relative;
    width:30%;
    min-height: 400px;
    display:flex;
    border:2px solid none;
    border-radius:3px ;


}
.column{
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details{
background: white;

}
.details h1{
    color:rgb(63, 58, 58);
}
.signin{
    display: block;
    flex-direction: column;
    align-items: center;
}
input{
    border:2px solid rgb(189, 182, 182);
    border-radius: 20px;
    padding:12px 15px;
    margin:8px 0;
    width:100%;
    font-family: inherit;
    color:green;
    font-size: inherit;



}
input:focus{
    outline-color: aquamarine;

}
a{
    color:rgb(137, 204, 37) ;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;

  

}
label{
    margin-top: 20px;
}
h4{
    margin-left: 0;
}
.form-submit{
    background:rgb(137, 204, 37) ;
    border:none;
    border-radius: 20px;
    color:white;
    padding:12px 45px;
    font-size: 12px;
    font-weight:bold;
    letter-spacing:1px;
    text-transform: uppercase;
    cursor:pointer;
    margin-left: 10vh;
    



}







@media only screen and (max-width:900px){
.wrapper{
    width:70%
}
}
@media only screen and(max-width:480px){
    .wrapper{
        width:70%;
        flex-direction: column-reverse;
    }
}
.column{
    width:100%;
}