body{
  margin: 0;
  padding:0;
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
  
 
}

.main{
  height:40%;
  width:70%;
  background-color: white;
  padding-left:150px;
  padding-top:50px;
  display: flex;
  
}


.logo{ margin-top: 0;
  margin-left:20%;
}
.logo img{

  height: 60px;
  

}

div#login.col-nav-item{
  width:1px;
}

/* cookie*/

.cookie {
  top: 45%;
  position: fixed;
  left: 5%;
  border-radius: 5px;
  display: none;
  height: auto;
  z-index: 5;
  width: 90%;
  background-color: #ffffff;
  margin: 0 auto; }

.mb-100px {
  margin-bottom: 100px; }

.ml-200px {
  margin-left: 200px; }

.ml-300px {
  margin-left: 300px; }

.cookie-title {
  white-space: nowrap;
  padding-top: 28px;
  color: #84bc22;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 34px; }

.cookie-link{
  color: #84bc22; }

.cookie-link:hover {
  color: #ace34d; }

.cookie-text {
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.accept {
  width: 100%;
  position: relative;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px; }

.acceptButton {
  border: 2px solid #e8e2d6;
  width: 148px !important;
  height: 37px;
  background-color: #84bc22;
  border-radius: 30px;
  color: white;
  justify-content: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative; }

.close {
  position: absolute;
  right: 10px;
  top: 10px; }
  .fadefade {
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    z-index: 5; }
  
.container h2{
  color: white;
  padding-top: 0;
}

.container button{
  background: transparent;
  border:1px solid white;
  border-radius: 15px;
  width:auto;


}

.carousel slide{
  width: 80%;
  height:20%;


}
.container button h5{
  color:white;
}
.container a{
  text-decoration: none;
}

.carousel-indicators button{
  width: 10px;
  height: 10px;
  border-radius: 200%;
}


.text-left{
  text-align: left;
  
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}



footer{
  display:-webkit-flex;
  display: -moz-flex;
  display:-ms-flex;
  display: -o-flex;
  display:flex;
  flex-flow: row wrap;
  flex-direction: column;
  
  padding:50px;
  color:black;
  background-color: #fcfcfc;
}
.footer > *{
  flex:1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;

}
.footer-left a{
  color:black;

}

h2{
  color: black;
  font-weight: 300;
  font-size: 10px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height:2em ;

}
.footer a{
  text-decoration: none;

}
.footer-right{
  display:-webkit-flex;
  display: -moz-flex;
  display:-ms-flex;
  display: -o-flex;
  display:flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex:1 50%;
  margin-right: 1.25em;
  
  
}
.box a {
  color:#999;

}

.footer-left p{
  padding-right:20%;
  color:#999;

}
.socials1 a {
  background: #f9f5f5;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 6px;
}
.socials1 a i{

  color:rgb(213, 210, 210);
  padding:8px 10px;
  font-size:15px;
  

}
a{
  color: black;
}
@media screen and (min-width:600px){
  .footer-right > *{
      flex:1;
  }
  .footer-left{
      flex:1 0px;
  }
  .footer-right{
      flex:3 0px;

  }
}
@media (max-width:600px){
  .footer{
      padding:15px;

  }
  .main{
      font-size: 55px;
  }

}

  /*Product tile*/

.card{
  position: absolute;

}
.image{
  transition: .5s ease;
  backface-visibility: hidden;


}



.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }


.img:hover .image{
  opacity:0.2;
  

}
.img:hover .overlay{
  opacity:1;
 

}
.card:hover{
  opacity: 1;
  background:linear-gradient(rgb(14, 185, 45),rgb(106, 233, 64));;
}
.overlay button{
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
 margin-top:50%;
  padding: 0;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  
 }
.btn-group{
  border-radius: 20%;
}
.btn-circle i {
  position: relative;
  top: -1px; }

.heart {
  color: red; }

.add {
  color: #18f118; }









.items {
  color:white;
  text-align: center;
  padding-top: 0;
  
  
  

}
#text{
  margin-top: 0;
}

.items h4::after{
  border-top: 2px solid #5f5b5b;
  content: "";
  position: absolute;
  width: 90%;
  bottom:40px;
  }
  .items h4::before{
    border-top: 2px solid #5f5b5b;
    content: "";
    position: absolute;
    margin-left: 0;
    
    width: 90%;
    bottom:40px;
    }
  


.gallery{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4%;
  background-color: #242b2b;
}
.card-title{
  font-size: small;
}
#load{
  color:white;
  border-radius: 10px;
  width:200px;
  display: flex;
  justify-content: center;
  background-color: rgb(150, 222, 41);


 

}
#product{
  background-color: #242b2b;


}

/* Icons style */
#incrementHeart,#incrementText{
  border:2px solid greenyellow;
  border-radius: 50%;
  color:#ddd;
  position:relative;

}
.staticpicture img{
  height:500px;
  width: 100%;
}





/* Featured Products part style */
.row {
	background:#242b2b;
	font-family: "Open Sans", sans-serif;
}
#string::before {
	content: " ";
	width: 300px; 
	position: absolute;
	margin: 0 auto;
	height: 1px;
	border-radius: 1px;
	background: white;
	left: 0;
	right: 35%;
	bottom: -20px;
}

#string{
    
	color: white;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
#string::after {
	content: " ";
	width: 300px; 
	position: absolute;
	margin: 0 auto;
	height: 1px;
	border-radius: 1px;
	background: white;
	left: 35%;
	right: 0;
	bottom: -20px;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}



.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: rgb(36, 37, 37);	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: rgb(55, 53, 53);
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}


/*404 page css style*/
.breadcrumb-item a {
  color:#18f118;
  text-decoration: none;
}
.breadcrumb-item active{
  color:black;
}


#main{
  margin-left: 15%;
  margin-top: 8%;
  border: 1px solid rgb(219, 207, 207);
  padding: 10px;
  box-shadow: 3px 5px #d6d5d5;
  justify-content: center;
}
#main-0{
  width:60%;
}

#main-0 h1{
float:left;
  font-size: 100px;
  color:green;
  margin-left: 10%;
  margin-top:10%;
  align-items: center;

}



body{
  margin: 0;
  padding:0;
  display:flex;
background-color: white;
}

#main-content {
float: right;
max-width: 45%;
color: black;
font-weight: 300;
font-size: 18px;
padding-bottom: 40px;
line-height: 28px;
}

#main-content h1 {
margin: 0px;
font-weight: 400;
font-size: 42px;
margin-bottom: 40px;
line-height: normal;
}
#main-content a{
color:green;
}


#search { margin-top: 30px; }
#search h1{
padding-bottom:0px;
}

#search input[type='text'] {
width: 90%;
height: 40px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
  border:2px solid black;
-moz-box-sizing: border-box;
background-color: white;
border: 1px solid black;
outline: none;
-webkit-appearance: none;
font-size: 16px;
font-weight: 300;
color: white;
font-family: 'Source Sans Pro', sans-serif;
transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
border-radius: 20px;
}

#search .input-search {
width: 10%;
float: right;
height: 41px;
background-color: rgba(0,0,0,0.2);
outline: none;
border: none;
-webkit-appearance: none;
font-family: 'Source Sans Pro', sans-serif;
color: white;

font-weight: 300;
font-size: 16px;
cursor: pointer;
transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
text-align: center;
}

#search .input-search:hover {
background-color: rgba(26,188,156,0.7);
}
/* === RESPONSIVE CSS === */

@media all and (max-width: 899px) {
#wrap { width: 90%; }
}

@media all and (max-width: 799px) {
#wrap { width: 90%; height: auto; margin-top: 40px; top: 0%; }
#wordsearch { width: 90%; float: none; margin:0 auto; }
#wordsearch ul li { font-size: 4vw; }
#main-content { float: none; width: 90%; max-width: 90%; margin:0 auto; margin-top: 30px; text-align: justify; }
#main-content h1 { text-align: left; }
#search input[type='text'] { width: 84%; }
#search .input-search { width: 15%; }
}

@media all and (max-width: 499px) {
#main-content h1 { font-size: 28px;
}
}





.modal-content {
  position: absolute;
  height: 467px;
  background-color: #ffffff;
  margin-top: 42%; }

.modal-title {
  color: #45413e;
  font-family: "Lato ";
  font-size: 30px;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 30px; }

.modal-body {
  flex: 0; }
  #signin {
    color:rgb(69, 70, 67) ;
    

  }
  #form-submit{
    background:rgb(137, 204, 37) ;
    border:none;
    border-radius: 20px;
    color:white;
   width:200px;
   
    text-transform: uppercase;
    cursor:pointer;
  
    



}
.form-control validate{
  border:2px solid rgb(189, 182, 182);
  border-radius: 20px;
  padding:12px 15px;
  margin:8px 0;
  width:100%;
  font-family: inherit;
 
  font-size: inherit;

}
#text{
  color:white ;
  text-align: center;
  padding-top: 20px;
}
#text1{
  color:rgb(137, 204, 37) ;
  text-align: right;
}

.summer-banner {
  position: relative; }

.summer-text {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  font-size: 100px;
  font-family: "Lato";
  font-weight: 900; }

.summer-text2 {
  position: absolute;
  font-family: "Lato";
  font-size: 24px;
  color: white;
  top: 210px;
  left: 85px;
  text-align: center;
  font-weight: 400; }

.facebook-text {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 400; }

.facebook-text2 {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 400; }

.sale-button {
  margin-left: 50px;
  margin-top: 22px;
  font-size: 14px;
  font-weight: 400;
  width: 144px;
  height: 40px;
  border: 2px solid #3a5b96;
  border-radius: 20px;
  background: none;
  color: #3a5b96;
  text-transform: uppercase;
  text-align: center; }

.sale-button:hover {
  background-color: #3a5b96; }

.follow-normal > div:last-child {
  display: none; }

.sale-button:hover span {
  color: #fff; }

.follow-normal:hover > div:first-child {
  display: none; }

.follow-normal:hover > div:last-child {
  display: block;
  background-color: #3a5b96; }

button.sale-button.follow-normal > div > img {
  margin-right: 2px; }

button.sale-button.follow-normal > div > span {
  margin-left: 2px; }
.firstpart{
  display: flex;
  text-align: center;
  width:800px;
  
}

.load-more-button {
  width: 270px;
  height: 45px;
  border: 2px solid #e8e2d6;
  background-color: #84bc22;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 22px; }

.load-more-button:hover {
  background-color: #ace549; }

.load-text {
  margin-left: 25px; }



  /*benefit */
.benefitcontainer{
  background-color: rgb(94, 91, 85);
}


.benefits-text{
  margin-top: 30px;
  color:rgb(172, 170, 153);
  line-height: 20px;
  width: 100%;
  height:100%;
  padding: 2px;
 

}
.col-sm{
  display:flex;

}
#rowbenefit{
  background-color: rgb(94, 91, 85);
 height:250px;

}
#benefitimg{
  margin-top: 30px;
  height:50px;
  width:50px;
 

}
.benefits {
  width: 57px;
  margin-top: 5px;
padding-left: 62px;
  height: 15px;
  color: #ffffff;
  font-family: lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase; }
/* category landing page */



/* load more button*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100%;
	color: #555;
}



.content .col-lg-3{
  display:flex;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100px 100px 100px 100px;
	grid-gap: 10px;
  justify-content: center;
  padding-left:4px;
}




.row4 .div {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100px 100px 100px 100px;
	grid-gap: 10px;
    justify-content: center;
}
.content{
	max-width: 1000px;
	margin: 30px auto;
	padding: 20px;
}



.book{
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-column-gap: 30px;
	margin-bottom: 10px;
	border: thin solid #d4d4d4;
	padding: 15px;
	background-color: #f9f9f9;
}

.book img{
	width:  100%;
}

.book .title{
	font-size: 22px;
	font-weight: bold;
}
.book .about{
	font-size: 20px;
	margin-top: 7px;
}
.book .info{
	margin-top: 20px;
}

    /* Navbar */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
font-weight: 400;
overflow-x: hidden;
}


.logo1 {
  width: 63px;
  height: 65px; }

.osf-text1 {
  width: 73px;
  height: 25px;
  color: #011847;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6.33px;
  margin-left: 7px; }

  .osf-text {
  width: 74px;
  height: 17px;
  color: #84bc22;
  font-size: 18px;
  font-weight: 400; 
margin-left:7px;}
.list-item img{

  width:20%;
  height:80%;
  padding-right: 3px;
}

*{
margin:0;
box-sizing: border-box;
}
:before,:after{
box-sizing: border-box;
}
.container{
width: 100%;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
width:100%;
background-color: white;
}
.v-center{
align-items: center;

}
ul{
list-style: none;
margin:0;
padding:0;
}
a{
text-decoration: none;
}
/* header */
.header{
display: block;
width: 100%;
position: fixed;
z-index: 99;
background-color: white;

}
.header .item-left{
flex:0 0 17%;
}

.header .logo a{
font-size: 20px;
color:#000000;
font-weight: 300;
text-decoration: none;
}
.header .item-center{
flex:0 0 66%;
}
.header .item-right{
flex:0 0 17%;
display: flex;
justify-content: flex-end;
}
.header .item-right a{ 
   text-decoration: none;
   font-size: 16px;
   color:#555555;
   display: inline-block;
   margin-left: 10px;
   transition: color 0.3s ease;
}
.header .menu > ul > li{
display: inline-block;
line-height: 50px;
margin-left: 25px;
}
.header .menu > ul > li > a{
font-size: 15px;
font-weight: 500;
color:#000000;
position: relative;
text-transform: capitalize;
transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
position: absolute;
z-index: 500;
background-color:rgb(56, 57, 64);
box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
padding: 20px 30px;
transition: all 0.5s ease;
margin-top:25px;
opacity:0;
visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
margin-top: 0;
visibility: visible;
opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
display: inline-block;
padding: 10px 0;
font-size: 15px;
color: #555555;
transition: color 0.3s ease;
text-decoration: none;
text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
min-width: 280px;
max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
 line-height: 1;
 display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
padding:10px 0;
display: inline-block;
font-size: 15px;
color:white;
transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
  left: 50%;
  transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
max-width: 1100px;
width: 100%; 	
display: flex;
flex-wrap: wrap;
padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
flex: 0 0 0 25%;
padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
font-size: 16px;
color:white;
font-weight: 500;
line-height: 1;
padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
max-width: 100%;
width: 100%;
vertical-align: middle;
margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
color:gray;
}
/* banner section */
.banner-section{
background-image: url('../img/banner.jpg');
background-size: cover;
background-position: center;
height: 700px;
width: 100%;
display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
display: none;
}

/*responsive*/
@media(max-width: 991px){

.header .item-center{
  order:3;
  flex:0 0 100%;
}
.header .item-left,
.header .item-right{
  flex:0 0 auto;
}
.v-center{
  justify-content: space-between;
}
.header .mobile-menu-trigger{
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .mobile-menu-trigger span{
  display: block;
  height: 2px;
  background-color: #333333;
  width: 24px;
  position: relative;
}
.header .mobile-menu-trigger span:before,
.header .mobile-menu-trigger span:after{
  content: '';
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}
.header .mobile-menu-trigger span:before{
  top:-6px;
}
.header .mobile-menu-trigger span:after{
  top:6px;
}
.header .item-right{
  align-items: center;
}

.header .menu{
  position: fixed;
  width: 320px;
  background-color:#ffffff;
  left:0;
  top:0;
  height: 100%;
  overflow: hidden;
  transform: translate(-100%);
  transition: all 0.5s ease;
  z-index: 1099;
}
.header .menu.active{
   transform: translate(0%);	
}
.header .menu > ul > li{
  line-height: 1;
  margin:0;
  display: block;
}
.header .menu > ul > li > a{
  line-height: 50px;
  height: 50px;
  padding:0 50px 0 15px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header .menu > ul > li > a i{
  position: absolute;
  height: 50px;
  width: 50px;
  top:0;
  right: 0;
  text-align: center;
  line-height: 50px;
  transform: rotate(-90deg);
}
.header .menu .mobile-menu-head{
  display: flex;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 501;
  position: sticky;
  background-color: #ffffff;
  top:0;
}
.header .menu .mobile-menu-head .go-back{
  height: 50px;
  width: 50px;
  border-right: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color:#000000;
  font-size: 16px;
  display: none;
}
.header .menu .mobile-menu-head.active .go-back{
  display: block;
}
.header .menu .mobile-menu-head .current-menu-title{
  font-size: 15px;
  font-weight: 500;
  color:#000000;
}
.header .menu .mobile-menu-head .mobile-menu-close{
    height: 50px;
  width: 50px;
  border-left: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color:#000000;	
  font-size: 25px;
}
.header .menu .menu-main{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.header .menu > ul > li .sub-menu.mega-menu,
.header .menu > ul > li .sub-menu{
  visibility: visible;
  opacity: 1;
  position: absolute;
  box-shadow: none;
  margin:0;
  padding:15px;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding-top: 65px;
  max-width: none;
  min-width: auto;
  display: none;
  transform: translateX(0%);
  overflow-y: auto;
}
.header .menu > ul > li .sub-menu.active{
display: block;
}
@keyframes slideLeft{
0%{
  opacity:0;
  transform: translateX(100%);
}
100%{
    opacity:1;
  transform: translateX(0%);	
}
}
@keyframes slideRight{
0%{
  opacity:1;
  transform: translateX(0%);
}
100%{
    opacity:0;
  transform: translateX(100%);	
}
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
  margin-top:0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
  margin-bottom: 20px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
  margin-bottom:0px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex: 0 0 100%;
      padding: 0px;
}
.header .menu > ul > li .sub-menu > ul > li > a,
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
  display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
  margin-bottom: 15px;
}
.menu-overlay{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1098;
  visibility: hidden;
  opacity:0;
  transition: all 0.5s ease;
}
.menu-overlay.active{
  visibility: visible;
  opacity:1;	
}
}
/* category page */
#clp{
  background:rgb(246, 243, 235);
}

#clpitems{
  color: gray;
}

#clprow{
  background-color:rgb(246, 243, 235); ;
}
#clpcontainer{
  background-color: white;

}


.breadcrumb ul li a{
    
    text-decoration: none;
    padding: 9px 12px;
}


.breadcrumb{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}
.col{
    display:flex;
    flex-direction: column;

}


.filters{
    width:80%;
    height:fit-content;
    background-color: white;
    justify-content: center;
    margin-left: 10%;
    padding-inline: 15px;
    justify-content: space-between;



}
#filter {
    
    border:2px solid grey;
    border-radius: 20px;
    padding-top: 20px;
    
    height:20%; 
    padding:9px 15px;
   
    width:100px;

}
#button{
    width:10%;
    height:30%;
    border-radius: 50%;
}

.button1 {
 
    background-color:white;
}
.button2 {
    
    background-color:rgb(36, 205, 191);
}
.button3 {
 
    background-color:black;
}

.button4 {
  
    background-color:rgb(17, 155, 17);
}


.button5 {
  
    background-color:blue;
}

.button6 {
    
    background-color:orange;
}

.button7 {
   
    background-color:red;
}
.button8 {
  
    background-color:rgb(238, 229, 172);
}
.filterdef{
    display:flex;

    width: 30%;

}
.name{
    width:30%;
}
.row1{
    display:flex;
}
#colors{
    width:70%;
}
/* product page */


.product-small-img img{
  height:92px;
  margin:10px 0;
  cursor:pointer;
  display: block;
  opacity:0.6;

}
.product-small-img img:hover{

  opacity:1 ;
}
.product{
  display: flex;
  top:50%;
  left:50%;
  
  transform:translate(-50%,-50%);
  position: absolute;
  background-color: #fff;
}
.img-container img{
   
height: 500px;

}
.product-small-img{
  
  float:left;
}
.img-container{
  float: right;
  padding:20px;
}





/*Product*/
#productdetails{
  display:flex;
  

}
.productimg{
  display:flex;
  margin-top:20px;
}


.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
  
}



#productdetails .productimg{
    width: 100%;
    margin-right: 0px;

   
}

.small-img-row{
 padding-left: 30px;
    flex-basis:10%;
    cursor: pointer;

}

.prodetail{
     width: 500px;
     padding:20px;
     


}
 .prodetail span{
  line-height: 25px;


}


  .button{
    border:2px solid gainsboro;
    border-radius: 20px;
    height:40px;
    width:150px;
    text-align: center;
    
  


  }
  .addcartbutton{
    background: greenyellow;
    color: white;
    border-radius: 20px;
    border:1px solid gainsboro;
    height:40px;
    width:150px;
  }
  text {
      font-size: 24px;
    }
    .moreText {
      display: none;
    }
    .read-more-btn {
      padding: 15px 60px;
      background-color: rgb(149, 170, 197);
      color: rgb(53, 49, 49);
      border: none;
      outline: none;
      font-size: 20px;
      cursor: pointer;
    }
    .text.show-more .moreText {
      display: inline;
    }
    .text.show-more .dots {
      display: none;
    }

    .row4 div{
      display: flex;
    }
	
